<!DOCTYPE html>
<html lang="en">

<head>
    <metacharset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" />

        <title>MockBuster - Account</title>
</head>

<body>


    <!-- Header -->
    <header>

      <div class="container-fluid header-container">
          <div class="row no-gutters">
              <a class="col-md-2 logo" href="/"></a>

              <nav class="col-md-10 navbar navbar-expand-sm navbar-light bg-white">
                  <a class="navbar-brand" href="/films">Library</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span><!-- This compenent is what provides the three bar icon for the button --></button>

                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <!-- The id name must match the data-target seen in row 27 -->
                      <ul class="navbar-nav">

                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Genres
      </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="/films/action">Action<i class="fas fa-radiation-alt float-right"></i></a>
                                  <a class="dropdown-item" href="/films/biopic">Biopic<i class="fas fa-user-tie float-right"></i></a>
                                  <a class="dropdown-item" href="/films/comedy">Comedy<i class="fas fa-theater-masks float-right"></i></a>
                                  <a class="dropdown-item" href="/films/crime">Crime<i class="fas fa-mask float-right"></i></a>
                                  <a class="dropdown-item" href="/films/drama">Drama<i class="fas fa-heartbeat float-right"></i></a>
                                  <a class="dropdown-item" href="/films/fantasy">Fantasy<i class="fas fa-dragon float-right"></i></a>
                                  <a class="dropdown-item" href="/films/history">History<i class="fab fa-fort-awesome float-right"></i></a>
                                  <a class="dropdown-item" href="/films/horror">Horror<i class="fas fa-ghost float-right"></i></a>
                                  <a class="dropdown-item" href="/films/kids">Kids<i class="fas fa-child float-right"></i></a>
                                  <a class="dropdown-item" href="/films/legal">Legal<i class="fas fa-balance-scale float-right"></i></a>
                                  <a class="dropdown-item" href="/films/musical">Musical<i class="fas fa-music float-right"></i></a>
                                  <a class="dropdown-item" href="/films/romance">Romance<i class="fas fa-grin-hearts float-right"></i></a>
                                  <a class="dropdown-item" href="/films/sports">Sports<i class="fas fa-futbol float-right"></i></a>
                                  <a class="dropdown-item" href="/films/superhero">Superhero<i class="fab fa-superpowers float-right"></i></i></a>
                                  <a class="dropdown-item" href="/films/thriller">Thriller<i class="far fa-surprise float-right"></i></a>
                                  <a class="dropdown-item" href="/films/war">War<i class="fas fa-bomb float-right"></i></a>
                              </div>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      A-Z
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/films/a_to_e">A-E</a>
        <a class="dropdown-item" href="/films/f_to_j">F-J</a>
        <a class="dropdown-item" href="/films/k_to_o">K-O</a>
        <a class="dropdown-item" href="/films/p_to_t">P-T</a>
        <a class="dropdown-item" href="/films/u_to_z">U-Z</a>
        <hr/>
        <a class="dropdown-item" href="/films/zero_to_nine">0-9</a>
    </div>
                        </li>
      <!-- Header - search box -->
                        <li class="nav-item">
                          <form class="form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                              <label for="inputSearch" class="sr-only">Search</label>
                              <input type="text" class="form-control" id="inputSearch" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Search</button>
                          </form>
                        </li>
      <!-- /Header - /search box -->
      <!-- Header - basket and model -->
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="modal" data-target="#basket"><i class="fas fa-shopping-basket"></i></a>
                          <div class="modal fade" id="basket" tabindex="-1" role="dialog" aria-labelledby="basketLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="basketLabel"><b>Basket</b></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/checkout" method="post">
                                          {{#each films.rows}}
                                            <div class="form-group">
                                                <p>{{this.name}}</p>
                                                <p>£ {{this.price}}</p>
                                            </div>
                                            {{/each}}
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="button" class="btn btn--teal btn-primary" value="Go to Checkout">
                                    </div>
                                  </form>
                                </div>
                            </div>
                        </div>
                      </li>
        <!-- /Header - /basket and model -->
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/account">My Details<i class="fas fa-info-circle float-right"></i></a>
                                <a class="dropdown-item" href="/auth/session/destroy">Log Out<i class="fas fa-sign-out-alt float-right"></i></a>
                              </div>
                          </li>
                      </ul>
                  </div>
              </nav>

          </div>
      </div>
  </header>
  <!-- /.Header -->




  <div class="each-event" style="padding-left:20px;">

    <h1>Account Details</h1>
<br>
  {{# users}}
  <div class="event-description">
    <p id="user-first-name" style="color: black;">First Name: {{this.firstname}}</p>
    <!-- Header - basket and model -->

                        <a class="nav-link" data-toggle="modal" data-target="#edit1" style=""><span class="fa-lg"><i id="edit" class="fas fas fa-edit"><span></i></a>
                        <div class="modal fade" id="edit1" tabindex="-1" role="dialog" aria-labelledby="basketLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="basketLabel"><b>Edit</b></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                                  </div>
                                  <div class="modal-body">
                                    <form id="new-name-form" style = "display: inline; margin-top: -20px;" action="/account/first/{{this._id}}" method="post">
                                      <input type="hidden" name="_method" value="PATCH" />
                                      <div class="form-group">
                                          <label for="recipient-name" class="col-form-label">Edit your first name:</label>
                                          <input type="text" class="form-control" id="recipient-name" name="firstname"value="{{this.firstname}}">
                                      </div>

                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <input type="submit" class="btn btn--teal btn-primary" value="Edit" />
                                  </div>
                                  </form>
                              </div>
                          </div>
                      </div>

      <!-- /Header - /basket and model -->

    <br>
    <p id="user-last-name"style="color: black;">Last Name: {{this.lastname}}</p>
    <!-- Header - basket and model -->

                        <a class="nav-link" data-toggle="modal" data-target="#edit2"><span class="fa-lg"><i class="fas fas fa-edit"></i></span></a>
                        <div class="modal fade" id="edit2" tabindex="-1" role="dialog" aria-labelledby="basketLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="basketLabel"><b>Edit</b></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                                  </div>
                                  <div class="modal-body">
                                    <form id="new-lastname-form"style = "display: inline; margin-top: -20px;" action="/account/last/{{this._id}}" method="post">
                                      <input type="hidden" name="_method" value="PATCH" />
                                      <div class="form-group">
                                          <label for="recipient-name" class="col-form-label">Edit your last name:</label>
                                          <input type="text" class="form-control" id="recipient-name" name="lastname" value="{{this.lastname}}">
                                      </div>

                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <input type="submit" class="btn btn--teal btn-primary" value="Edit" />
                                  </div>
                                  </form>
                              </div>
                          </div>
                      </div>

      <!-- /Header - /basket and model -->

    <br>

    <p id="user-email-name"style="color: black;">Email: {{this.email}}</p>
    <!-- Header - basket and model -->

                        <a class="nav-link" data-toggle="modal" data-target="#edit3"><span class="fa-lg"><i class="fas fas fa-edit"></i></span></a>
                        <div class="modal fade" id="edit3" tabindex="-1" role="dialog" aria-labelledby="basketLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="basketLabel"><b>Edit</b></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                                  </div>
                                  <div class="modal-body">
                                    <form id="new-email-form"style = "display: inline; margin-top: -20px;" action="/account/email/{{this._id}}" method="post">
                                      <input type="hidden" name="_method" value="PATCH" />
                                      <div class="form-group">
                                          <label for="recipient-name" class="col-form-label">Edit your email address:</label>
                                          <input type="text" class="form-control" id="recipient-name" name="email" value="{{this.email}}">
                                      </div>

                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <input type="submit" class="btn btn--teal btn-primary" value="Edit" />
                                  </div>
                                  </form>
                              </div>
                          </div>
                      </div>

      <!-- /Header - /basket and model -->

    <br>

    <br>
    <form id="delete-user-form" style = "display: inline; float: right; margin-top: -20px;, text-align: center;" action="/account/delete/{{this._id}}" method="post">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" value="Delete Account" />
    </form>
  </div>
  </div>
  {{/users}}
    <!-- Footer -->
    <footer class="container-fluid footer-container text-center">
        <div class="col-12">
            <p class="inline-block ">
                <i class="far fa-clock "></i>Mondays - Sunday 11 am until 6 pm.
            </p>
        </div>
        <div class="col-12">
            <p class="inline-block ">
                <i class="fas fa-map-marker-alt "></i>We are located at our streaming service.
            </p>
        </div>
        <div class="col-12">
            <p class="inline-block ">
                <i class="fas fa-at "></i>info@mockbuster.co.uk</br>
            </p>
        </div>
        <div class="col-12">
            <p class="inline-block ">
                <i class="fas fa-phone "></i>0208 12345678
            </p>
        </div>
        <div class="col-12 ">

            <ul class="list-inline social-links ">
                <li class="list-inline-item ">
                    <a target="_blank " href="# " class="hvr-icon-bounce">
                            <i class="fab fa-facebook hvr-icon" aria-hidden="true "></i>
                            <span class="sr-only ">Facebook</span>
                        </a>
                </li>
                <li class="list-inline-item ">
                    <a target="_blank " href="# " class="hvr-icon-bounce">
                            <i class="fab fa-twitter hvr-icon" aria-hidden="true "></i>
                            <span class="sr-only ">Twitter</span>
                        </a>
                </li>
                <li class="list-inline-item ">
                    <a target="_blank " href="# " class="hvr-icon-bounce">
                            <i class="fab fa-linkedin-in hvr-icon" aria-hidden="true "></i>
                            <span class="sr-only ">LinkedIn</span>
                        </a>
                </li>
                <li class="list-inline-item ">
                    <a target="_blank " href="# " class="hvr-icon-bounce">
                            <i class="fab fa-pinterest hvr-icon" aria-hidden="true "></i>
                            <span class="sr-only ">Pinterest</span>
                        </a>
                </li>
                <li class="list-inline-item ">
                    <a target="_blank " href="# " class="hvr-icon-bounce">
                            <i class="fab fa-instagram hvr-icon" aria-hidden="true "></i>
                            <span class="sr-only ">Instagram</span>
                        </a>
                </li>
                <li class="list-inline-item ">
                    <a target="_blank " href="# " class="hvr-icon-bounce">
                            <i class="fab fa-youtube hvr-icon" aria-hidden="true "></i>
                            <span class="sr-only ">YouTube</span>
                        </a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- /.Footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
