<!DOCTYPE html>
<html lang="en">

<head>
  <metacharset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link rel="stylesheet" href="../stylesheets/styles.css" type="text/css" />


  <title>MockBuster - Employee Account Details</title>

</head>

<body>

  <!-- Header -->
  <header>
    <div class="container-fluid header-container">
      <div class="row no-gutters">
        <a class="col-md-2 logo" href="/employee/em_hub"></a>

        <nav class="col-md-10 navbar navbar-expand-sm navbar-light bg-white" >
          <a class="navbar-brand" href="/employee/account">My Details</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span><!-- This compenent is what provides the three bar icon for the button --></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <!-- The id name must match the data-target seen in row 27 -->
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#employees}}
                    {{this.em_first_name}}'s Account
                    {{/employees}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/employee/account">My Details<i class="fas fa-info-circle float-right"></i></a>
                    <a class="dropdown-item" href="/blog?role=employee">Blog<i class="fas fa-blog float-right"></i></a>
                    <a class="dropdown-item" href="#">HR<i class="fas fa-person-booth float-right"></i></a>
                    <a class="dropdown-item" href="/employee/em_film_lib">Film Library<i class="fas fa-photo-video float-right"></i></a>
                    <a class="dropdown-item" href="#">Customer Feedback<i class="fas fa-comments float-right"></i></a>
                    <a class="dropdown-item" href="#">Customer Suggestions<i style="padding-left: 15px;" class="fas fa-comment-dots"></i></a>
                    <a class="dropdown-item" href="/employee/em_hub">Hub<i class="fas fa-backspace float-right"></i></a>
                    <a class="dropdown-item" href="/employee/session/destroy">Log Out<i class="fas fa-sign-out-alt float-right"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- /.Header -->

    <!-- Callout -->
    <div class="each-event">
      <div class="container-fluid background-jumbotron callout-container">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="col-4 form-background">
          {{#employees}}
      <h1 style="text-align: center;">Account Details</h1>
      <br>
      <h2 id="employee-number" style="color: black;">Employee Number: {{this.employee_number}}</h2>
      <br>
      
        <img src="../{{this.imageUrl}}" alt="{{this.em_first_name}}" class="profilePic" onerror="this.src='../images/blank-profile-picture.png';">
        <a class="nav-link hvr-icon-bounce" data-toggle="modal" data-target="#edit6" style="display: inline;">
        <i id="edit" class="fas fas fa-edit hvr-icon pic-edit" aria-hidden="true" ></i>
        <span class="fa-lg sr-only">Edit Profile Pic</span>
      </a>

      <!-- Callout - edit img modal -->
      <div class="modal fade" id="edit6" tabindex="-1" role="dialog" aria-labelledby="basketLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="basketLabel"><b>Edit</b></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="new-name-form" style = "display: inline; margin-top: -20px;" action="/employee/account/upload/{{this._id}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PATCH" />
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Edit your profile pic:</label>
                  <input type='file' accept="image/*" name="imageUrl"/>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn--teal btn-primary" value="Edit"/>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.Callout - edit img modal -->

      <br>
      <br>
      <div class="event-description" style="text-align: center;">
        <p id="user-first-name" style="color: black;">First Name: {{this.em_first_name}}</p>
        <p id="user-last-name" style="color: black;">Last Name: {{this.em_last_name}}</p>
        <p id="user-email-name"style="color: black;">Email: {{this.em_email}}</p>
        <hr>
        <div style="text-align: center;">
        <p id="user-password"style="color: black;">To update your password please click the edit button:</p>
        <a class="nav-link hvr-icon-bounce" data-toggle="modal" data-target="#edit4" style="">
          <i id="edit" class="fas fas fa-edit hvr-icon" aria-hidden="true" ></i>
          <span class="fa-lg sr-only">Edit Password</span>
        </a>

        <!-- Callout - edit password modal -->
        <div class="modal fade" id="edit4" tabindex="-1" role="dialog" aria-labelledby="basketLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="basketLabel"><b>Edit</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="new-password-form" style="display: inline; margin-top: -20px;" action="/employee/account/password/{{this._id}}" method="post">
                  <input type="hidden" name="_method" value="PATCH" />
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="col-form-label">To update your password please enter in the space provided below and press edit.</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter new password here">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn--teal btn-primary" value="Edit" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.Callout - edit password modal -->

        <hr>
        <div style="text-align: center;">
        <a href="/employee/update"><button type="button" class="btn btn-primary btn-lg">Request Details Update</button></a>
        </div>
        <br>
        </div>
      </div>
      {{/employees}}
    </div>
    </div>
    </div>
    
    <!-- /.Callout -->


    {{!-- <div class="each-event" style="padding-left:20px;">

      <h1 style="text-align: center;">Account Details</h1>
      <br>

    {{#employees}}

    <div class="event-description account" style="text-align: center; border: 10px solid black; margin-left: 200px; margin-right: 200px; padding-top:20px;">
      <h2 id="employee-number" style="color: black;">Employee Number: {{this.employee_number}}</h2>
      <br>
      <img src="../{{this.imageUrl}}" alt="{{this.em_first_name}}" class="profilePic" onerror="this.src='../images/blank-profile-picture.png';">
      <br><br>
      <p id="user-first-name" style="color: black;">First Name: {{this.em_first_name}}</p>
      <p id="user-last-name"style="color: black;">Last Name: {{this.em_last_name}}</p>
      <p id="user-email-name"style="color: black;">Email: {{this.em_email}}</p>
      <p id="employee-password"style="color: black;">Password: <i class="fas fa-lock"></i> / <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i></p>
      <a display="inline" href="/employee/change">Update password</a>
      <br> <br>
      <div style="text-align: center;">
          <a href="/employee/update"><button type="button" class="btn btn-primary btn-lg">Request Details Update</button></a>
      </div>
      <br>
      {{/employees}}
        <br>
      </div>
    </div>
  </div>
  </div>
  </div>
  <br> --}}



    <!-- Footer -->
    <footer class="container-fluid footer-container text-center">
      <div class="col-12">
        <p class="inline-block ">
          <i class="far fa-clock "></i>Mondays - Sunday 11 am until 6 pm.
        </p>
      </div>
      <div class="col-12">
        <p class="inline-block ">
          <i class="fas fa-map-marker-alt "></i>We are located at our streaming service.
        </p>
      </div>
      <div class="col-12">
        <p class="inline-block ">
          <i class="fas fa-at "></i>info@mockbuster.co.uk</br>
        </p>
      </div>
      <div class="col-12">
        <p class="inline-block ">
          <i class="fas fa-phone "></i>0208 12345678
        </p>
      </div>
      <div class="col-12 ">

        <ul class="list-inline social-links ">
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-facebook hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-twitter hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-linkedin-in hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">LinkedIn</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-pinterest hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">Pinterest</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-instagram hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">Instagram</span>
            </a>
          </li>
          <li class="list-inline-item ">
            <a target="_blank " href="# " class="hvr-icon-bounce">
              <i class="fab fa-youtube hvr-icon" aria-hidden="true "></i>
              <span class="sr-only ">YouTube</span>
            </a>
          </li>
        </ul>
      </div>
    </footer>
    <!-- /.Footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/jquery.shop.js"></script>
    <!-- jquery to shrink logo and navbar on scroll -->
   <script>
     $( window ).scroll(function() {
      if($(window).scrollTop() > 70){
        $('.logo').css({'height': '70'});
      }else{
          $('.logo').css({'height': '120'});
      }

     });
   </script>

  </body>

  </html>
