<!DOCTYPE html>
<html lang="en">

<head>
  <metacharset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link rel="stylesheet" href="../stylesheets/styles.css" type="text/css" />

  <title>MockBuster - Employee Film Library</title>
</head>

<body>

  <!-- Header -->
  <header>
    <div class="container-fluid header-container">
      <div class="row no-gutters">
        <a class="col-md-2 logo" href="/employee/em_hub"></a>

        <nav class="col-md-10 navbar navbar-expand-sm navbar-light bg-white">
          <a class="navbar-brand" href="/employee/em_film_lib">Film Library</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span><!-- This compenent is what provides the three bar icon for the button --></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <!-- The id name must match the data-target seen in row 27 -->
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#employees}}
                    {{this.em_first_name}}'s Account
                    {{/employees}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/employee/account">My Details<i class="fas fa-info-circle float-right"></i></a>
                    <a class="dropdown-item" href="/blog?role=employee">Blog<i class="fas fa-blog float-right"></i></a>
                    <a class="dropdown-item" href="#">Customer Directory<i class="fas fa-person-booth float-right"></i></a>
                    <a class="dropdown-item" href="/employee/em_film_lib">Film Library<i class="fas fa-photo-video float-right"></i></a>
                    <a class="dropdown-item" href="/employee/feedback">Customer Feedback<i style="padding-left: 15px;" class="fas fa-comments"></i></a>
                    <a class="dropdown-item" href="/employee/em_hub">Hub<i class="fas fa-backspace float-right"></i></a>
                    <a class="dropdown-item" href="/employee/session/destroy">Log Out<i class="fas fa-sign-out-alt float-right"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- /.Header -->

    <!-- Callout -->
    <div class="container-fluid background-jumbotron callout-container">
      <div class="opaque-overlay">&nbsp;</div>
      <div class="row">
      <div class="col-12 justify-content-md-center" >
        <h1 style="color: white;">Welcome to Film Library {{#employees}}{{this.em_first_name}}{{/employees}}</h1>
      <div class="col-4 form-background">
      <h5 style="text-align: center;">Here you can view all the films availble to the public. You can add and
        remove films. You can also edit film details. To edit please find the film below and click on the edit icon.</h5>
      <hr>
      <a href="/employee/em_film_creation"><button type="button" class="btn btn-danger btn-lg">Film Creation<br><i class="fas fa-folder-plus"></i></button></a>
      <hr>
      {{#each films}}
      <div class="event-description" style="text-align: center;">
        <img src="../{{this.imageUrl}}" alt="{{this.name}}" class="profilePic" onerror="this.src='../images/blank-profile-picture.png';">
        <p id="employee-name" style="color: black;">Film: {{this.name}}</p>
        <a class="nav-link hvr-icon-bounce" data-toggle="modal" data-target="#{{this.modal}}" style="">
          <i id="edit" class="fas fas fa-edit hvr-icon" aria-hidden="true" ></i>
          <span class="fa-lg sr-only">Edit Film Details</span>
        </a>

        <!-- Callout - edit employee details modal -->
        <div class="modal fade" id="{{this.modal}}" tabindex="-1" role="dialog" aria-labelledby="basketLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="basketLabel"><b>Film Details:</b></h5>
                <hr>
                <h3>Film modal ref: {{this.modal}}</h3>
                <img src="../{{this.imageUrl}}" alt="{{this.name}}" class="profilePic" onerror="this.src='../images/blank-profile-picture.png';">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="new-name-form" style = "display: inline; margin-top: -20px;" action="/employee/film/upload/{{this._id}}" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="_method" value="PATCH" />
                  <div class="form-group">
                    <label for="FilmImage" class="col-form-label">Film Image:</label>
                    <input type="file" class="form-control" id="FilmImage" name="imageUrl" value="{{this.imageUrl}}" enctype="multipart/form-data">
                  </div>


                  <div class="form-group">
                    <label for="em-first-name" class="col-form-label">Film Title:</label>
                    <input type="text" class="form-control" id="em-first-name" name="name"value="{{this.name}}" required>
                  </div>


                  <div class="form-group">
                    <label for="em-actors" class="col-form-label">Actor(s): <button style="display:inline;" id="btn1" class="btn"><i class="fas fa-plus"></i></button></label>
                    {{#each actors}}<input type="text" class="form-control" id="em-lactors" name="actors"value="{{this}}" required>{{/each}}
                    <p class="actors" id="demo"></p>
                  </div>


                  <div class="form-group">
                    <label for="em-directors" class="col-form-label" style="display: block;">Director(s): <button style="display:inline;" id="btn2" class="btn"><i class="fas fa-plus"></i></button></label>
                    {{#each directors}}<input type="text" class="form-control" id="em-directors" name="directors"value="{{this}}" required>{{/each}}
                    <p class="directors" id="demo"></p>
                  </div>


                  <div class="form-group">
                    <label for="em-genres" class="col-form-label">Genre(s): <button style="display:inline;" id="btn3" class="btn"><i class="fas fa-plus"></i></button></label>
                    {{#each genres}}<input type="text" class="form-control" id="em-genres" name="genres"value="{{this}}" required>{{/each}}
                    <p class="genres" id="demo"></p>
                  </div>


                  <div class="form-group">
                    <label for="em-email" class="col-form-label">Date:</label>
                    <input type="text" class="form-control" id="em-email" name="date"value="{{this.date}}" required>
                  </div>


                  <div class="form-group">
                    <label for="em-email" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="em-email" name="description"value="{{this.description}}" required>
                  </div>


                  <div class="form-group">
                    <label for="em-email" class="col-form-label">Price:</label>
                    <input type="text" class="form-control" id="em-email" name="price"value="{{this.price}}" required>
                  </div>

                <div class="modal-footer">
                  <input type="submit" class="btn btn--teal btn-primary" value="Edit" />
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </form>

                <hr>

                <form id="delete-film-form" style = "display: inline;" action="/employee/em_film_lib/em_delete_film/{{this._id}}" method="post">
                  <input type="hidden" name="_method" value="DELETE" />
                  <input class="btn-primary" style="text-align: center; margin-bottom: 20px;"type="submit" value="Delete Film" />
                </form>

                <!-- /.Callout - edit employee details modal -->
              </div>
            </div>
            </div>
            </div>

            </div>
             <hr>
            {{/each}}
          </div>
        </div>
      </div>
      </div>
    <!-- /Callout -->

<!-- Footer -->
<footer class="container-fluid footer-container text-center">
  <div class="col-12">
    <p class="inline-block ">
      <i class="far fa-clock "></i>Mondays - Sunday 11 am until 6 pm.
    </p>
  </div>
  <div class="col-12">
    <p class="inline-block ">
      <i class="fas fa-map-marker-alt "></i>We are located at our streaming service.
    </p>
  </div>
  <div class="col-12">
    <p class="inline-block ">
      <i class="fas fa-at "></i>info@mockbuster.co.uk</br>
    </p>
  </div>
  <div class="col-12">
    <p class="inline-block ">
      <i class="fas fa-phone "></i>0208 12345678
    </p>
  </div>
  <div class="col-12 ">
    <ul class="list-inline social-links ">
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-facebook hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Facebook</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-twitter hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Twitter</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-linkedin-in hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">LinkedIn</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-pinterest hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Pinterest</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-instagram hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">Instagram</span>
        </a>
      </li>
      <li class="list-inline-item ">
        <a target="_blank " href="# " class="hvr-icon-bounce">
          <i class="fab fa-youtube hvr-icon" aria-hidden="true "></i>
          <span class="sr-only ">YouTube</span>
        </a>
      </li>
    </ul>
  </div>

</footer>
<!-- /.Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

  <!-- jquery to shrink logo and navbar on scroll -->
  <script>
    $( window ).scroll(function() {
     if($(window).scrollTop() > 70){
       $('.logo').css({'height': '70'});
     }else{
         $('.logo').css({'height': '120'});
     }

    });
  </script>

  <script>
  $(document).ready(function(){
    var max_fields = 10;
    var x = 1;
    $("#btn1").click(function(){
      event.preventDefault();
      if (x < max_fields) {
        x++;
        $("p.actors").append("<div>" + "<input type='text' class='form-control' name='actors' placeholder='add another actor'/>" + "<a href='#' style='display: inline; float: right;' class='remove_field'><i class='fa fa-times'></i></a></div>");
      }
    });
    $("p.actors").on("click", ".remove_field", function() { //user click on remove text
        event.preventDefault();
        $(this).parent("div").remove();
        x--;
    });
  });
  </script>

  <script>
  $(document).ready(function(){
    var max_fields = 10;
    var x = 1;
    $("#btn2").click(function(){
      event.preventDefault();
      if (x < max_fields) {
        x++;
        $("p.directors").append("<div>" + "<input type='text' class='form-control' name='directors' placeholder='add another director'/>" + "<a href='#' style='display: inline; float: right;' class='remove_field'><i class='fa fa-times'></i></a></div>");
      }
    });
    $("p.directors").on("click", ".remove_field", function() { //user click on remove text
        event.preventDefault();
        $(this).parent("div").remove();
        x--;
    });
  });
  </script>

  <script>
  $(document).ready(function(){
    var max_fields = 10;
    var x = 1;manager
    $("#btn3").click(function(){
      event.preventDefault();
      if (x < max_fields) {
        x++;
        $("p.genres").append("<div>" + "<input type='text' class='form-control' name='genres' placeholder='add another genre'/>" + "<a href='#' style='display: inline; float: right;' class='remove_field'><i class='fa fa-times'></i></a></div>");
      }
    });
    $("p.genres").on("click", ".remove_field", function() { //user click on remove text
        event.preventDefault();
        $(this).parent("div").remove();
        x--;
    });
  });
  </script>

</body>
</html>
