<!DOCTYPE html>
<html lang="en">

<head>
  <metacharset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="../stylesheets/styles.css" type="text/css" />

  <title>MockBuster - A to E</title>
</head>

<body>

  <!-- Header -->
  {{> header }}
    <!-- /.Header -->


        <!-- Callout -->
        <div id="site">

          <h1 style="margin-left:20px;">A-E</h1>
          <div class="container-fluid background-jumbotron callout-container">
            <div class="opaque-overlay">&nbsp;</div>
            <div class="row">
              <div class="tz-gallery">
                <div class="row">

                  <!-- Callout - Films -->
                  {{#each films}}
                  <div class="col-sm-6 col-md-3">
                    <a class="lightbox" data-toggle="modal" data-target="#{{this.modal}}">
                      <img src="{{this.imageUrl}}" alt="{{this.name}}">
                    </a>

                    <!-- Callout - film details modal -->
                    <div class="modal fade" id="{{this.modal}}" tabindex="-1" role="dialog" aria-labelledby="basketLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="movieLabel"><b>{{this.name}}</b>
                            </h5>
                            <div class="buttons">
                              <span class="like-btn"></span>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form id="add-to-cart-form" style = "display: inline; margin-top: -20px;" action="/cart/add" method="post">
                              <div class="form-group">
                                <input type="hidden" class="form-control" name="filmId" value="{{this._id}}">
                              </div>
                              <div class="form-group">
                                <p>{{this.description}}</p>
                              </div>
                            <div>
                              <h4 style="margin:10px;"><span>Trailer</span></h4>
                              <iframe style="margin:10px;" height="150" width="300" src="{{this.trailerUrl}}" allowfullscreen frameborder="0"></iframe>
                            </div>

                            <div class="modal-footer">
                              <input type="submit" class="btn btn--teal btn-primary" value="Add to Basket" />
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </form>
                            <!-- /.Callout -  film details modal -->
                          </div>
                        </div>
                        </div>
                        </div>


                  </div>
                  {{/each}}

                  <!-- /Callout - /Films -->

                </div>
              </div>

            </div>

        </div>


        <!-- /Callout -->

    <!-- Footer -->
    {{> footer }}
    <!-- /.Footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/jquery.shop.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">

    $('.like-btn').on('click', function() {
      $(this).toggleClass('is-active');
    });

    </script>

    <script>
    $(function(){
      $('#searchName').autocomplete({
        source: function(req,res){

          $.ajax({
            url:"autocomplete/",
            dataType:"jsonp",
            type:"GET",
            data:req,
            success: function(data){
              res(data)

            },
            error: function(err){
              console.log(err.status);
            }
          });
        },
        minLength:1,
        select: function(event,ui){
          if(ui.item){
            $('#searchName').val(ui.item.label);
          }
        }
      });
    });
    </script>

    <!-- jquery to shrink logo and navbar on scroll -->
   <script>
   $( window ).scroll(function() {
     if($(window).scrollTop() > 70){
       $('.logo').css({'height': '70'});
     }else{
       $('.logo').css({'height': '120'});
     }
   });
   </script>
  </body>

  </html>
